<ion-content [fullscreen]="true" [scrollY]="false" class="bienvenida-content">
  <div class="bienvenida-container">
    <div class="bienvenida-centro">
      <app-marca-header />
    </div>

    <p class="bienvenida-footer">{{ nombreGrupo }}</p>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <app-barra-acciones>
    <ion-button class="accion-secundaria" expand="block" (click)="registrarse()">Registrarse</ion-button>
    <ion-button class="accion-principal" expand="block" routerLink="/login">Iniciar sesión</ion-button>
    <ion-button class="accion-terciaria" expand="block" fill="clear" routerLink="/principal" [replaceUrl]="true">Continuar sin registro</ion-button>
  </app-barra-acciones>
</ion-footer>
