<ion-content [fullscreen]="true" [scrollY]="false" class="cocina-content">
  <div class="cocina-container">
    <nav class="cocina-navbar">
      <app-marca-header />
      <div class="cocina-navbar-acciones">
        <ion-button fill="solid" class="cocina-navbar-item" (click)="agregarBebida()">
          Agregar bebida
        </ion-button>
        <ion-button fill="solid" class="cocina-navbar-item" (click)="avisos.proximamente()">
          Ver comandas
        </ion-button>
        <ion-button fill="solid" class="cocina-navbar-item cocina-navbar-salir" (click)="sesionService.cerrarSesion()">
          Cerrar sesión
        </ion-button>
      </div>
    </nav>

    <div class="cocina-usuario-contenedor">
      <div class="cocina-foto">
        @if (fotoEmpleado) {
          <img [src]="fotoEmpleado" [alt]="'Foto de ' + nombreCompleto" width="120" height="120" />
        }
      </div>

      <div class="cocina-cuerpo">
        <p class="cocina-usuario">{{ nombreCompleto }}</p>
        <p class="cocina-puesto">Cantinero</p>
      </div>
    </div>
  </div>
</ion-content>
