<ion-content [fullscreen]="true" [scrollY]="false" class="administracion-content">
  <div class="administracion-container">
    <nav class="administracion-navbar">
      <app-marca-header />
      <div class="administracion-navbar-acciones">
        <ion-button fill="solid" class="administracion-navbar-item" (click)="irAPersonal()">
          Administración del personal
        </ion-button>

        <ion-button fill="solid" class="administracion-navbar-item" (click)="crearMesa()">
          Crear mesa
        </ion-button>

        <ion-button fill="solid" class="administracion-navbar-item" (click)="gestionMesas()">
          Gestión de mesas
        </ion-button>

        <ion-button fill="solid" class="administracion-navbar-item" (click)="irASolicitudes()">
          Solicitudes de clientes
        </ion-button>
        <ion-button fill="solid" class="administracion-navbar-item administracion-navbar-salir"
          (click)="sesionService.cerrarSesion()">
          Cerrar sesión
        </ion-button>
      </div>
    </nav>

    <div class="administracion-usuario-contenedor">

      <div class="administracion-foto">
        @if (fotoEmpleado) {
        <img [src]="fotoEmpleado" [alt]="'Foto de ' + nombreCompleto" width="120" height="120" />
        }
      </div>

      <div class="administracion-cuerpo">
        <p class="administracion-usuario">{{ nombreCompleto }}</p>
        <p class="administracion-puesto">{{ puestoActual }}</p>
      </div>

    </div>
  </div>
</ion-content>