<ion-content [fullscreen]="true" [scrollY]="false" class="login-content">
  <div class="login-container">
    <div class="login-centro">
      <app-marca-header />

      <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="login-campo">
          <ion-item class="login-item">
            <ion-label position="stacked">Correo electrónico</ion-label>
            <ion-input type="email" inputmode="email" formControlName="email" autocomplete="email" aria-describedby="login-email-aviso"></ion-input>
          </ion-item>
          <app-aviso-campo id="login-email-aviso" [control]="form.controls['email']" [mensajes]="mensajesEmail" />
        </div>

        <div class="login-campo">
          <ion-item class="login-item">
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input type="password" formControlName="password" autocomplete="current-password" aria-describedby="login-password-aviso"></ion-input>
          </ion-item>
          <app-aviso-campo id="login-password-aviso" [control]="form.controls['password']" [mensajes]="mensajesPassword" />
        </div>

        <ion-button expand="block" type="submit" class="login-submit" [disabled]="cargando">{{ cargando ? 'Ingresando…' : 'Iniciar sesión' }}</ion-button>
      </form>
    </div>

    <ion-button fill="clear" size="small" class="login-accesos-trigger" (click)="mostrarAccesoRapido = true">
      Usuarios de prueba
    </ion-button>
  </div>

  <ion-action-sheet
    header="Usuarios de prueba"
    [isOpen]="mostrarAccesoRapido"
    [buttons]="botonesAccesoRapido"
    (didDismiss)="mostrarAccesoRapido = false"
  ></ion-action-sheet>
</ion-content>
