<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/administracion" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Gestión del salón</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="salon-content">
  <div class="salon-container">
    <ion-button expand="block" class="salon-boton" routerLink="/administracion/salon/crear">
      Crear mesa
    </ion-button>
    <ion-button expand="block" fill="outline" class="salon-boton" routerLink="/administracion/salon/gestion">
      Modificar mesa
    </ion-button>
  </div>
</ion-content>