<app-panel-inicio
  [nombre]="nombre()"
  puesto="Invitado"
  [foto]="fotoUrl()"
  [acciones]="acciones()"
  [cierrePropio]="true"
  (salir)="cerrarSesion()">
  @if (cartelAviso(); as aviso) {
    @if (estadoCartel() === 'aceptado') {
      <button type="button" class="cliente-anonimo-cartel cliente-anonimo-cartel--disponible" (click)="irAEscanearMesa()">
        <p>{{ aviso }}</p>
      </button>
    } @else {
      <div class="cliente-anonimo-cartel">
        <p>{{ aviso }}</p>
      </div>
    }
  } @else if (avisoMostrador()) {
    <div class="cliente-anonimo-cartel cliente-anonimo-cartel--mostrador">
      <p>Por favor, acérquese al mostrador.</p>
    </div>
  }
</app-panel-inicio>
